/* General */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Rubik Dirt", serif;
}

.section-title {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
}

.section-text {
  font-size: 1.2rem;
}

.section-description {
  font-size: 1.2rem;
  color: #584e4e;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  background-color: #5eb2f1;
  color: white;
}
/* Sections */
.dark-section {
  background-color: #1b1b32;
  color: white;
}
.white-section {
  background-color: white;
  color: black;
}

/* Nav Bar */
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Hero */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-main {
  padding: 3rem;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.hero-main h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* About Me */
.about-me {
  height: 500px;
  padding: 24px;
}

.about-me .container {
  max-width: 600px;
  text-align: center;
}

/* Experience */
.experience {
  padding: 40px;
}

.experience .row div {
  height: 300px;
}

.experience-title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}

.experience i {
  font-size: 2.5rem;
  color: #99b6f0;
  background-color: #1b1b32;
  padding: 8px 19px;
  border-radius: 50%;
}

.experience .column {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experience .column:hover {
  color: white;
  background-color: #1b1b32;
}
.badges-container {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}

/* Projects */
.recent-projects {
  padding: 40px;
}
.project img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.projects-container {
  padding-top: 60px;
  padding-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project {
  position: relative;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.project:hover img {
  opacity: 0.2;
}
.project:hover .overlay {
  opacity: 1;
}

.overlay .icons-container {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Articles */
.articles {
  min-height: 500px;
  padding: 30px;
}

.articles .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articles .card-header {
  font-weight: bold;
}

/* Testimonies */
.testimonies {
  padding: 40px 40px 80px 40px;
}
.testimonies .carousel {
  max-width: 800px;
}
.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimony-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px 10px 20px;
}
.testimony-text {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}
.testimony-info p {
  margin-bottom: 0;
  text-align: center;
}
.testimony-info .client-title {
  font-size: 0.9rem;
  color: #656060;
}
.testimony-footer .client {
  font-size: 1.2rem;
}

/* Contact */
.contact .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contact .rectangle {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contact .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact-desc {
  color: white;
  font-size: 1.2rem;
}
.contact button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contact button:hover {
  background-color: white;
  color: black;
}
.contact button:hover i {
  color: black;
}
.contact button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}
/* Responsive */
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

/* Footer */
footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-text {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s;
}

.social-icons a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}
.social-icons a:hover i {
  color: black;
}
.social-icons i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s;
  transition: all 0.2s ease-in;
}
.copyright {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .testimony-img {
    height: 120px;
  }
  .testimony-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hero-content-img {
    max-width: 600px;
  }
}
